html{
  box-sizing: border-box;
  /* border 會被包含進物件長寬 */
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: #14213d;
  height: auto;
}
.panel{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.introduction1{
  color: #e9ecef;
  background-size: contain;
  background-repeat: no-repeat;
  height:100vh;
  background-position: center;
  display: flex;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('/static/icon/investor_back.jpeg');
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transition: all 1s ease-in-out;
}
.introduction2{
  color: #e9ecef;
  background-size: contain;
  background-repeat: no-repeat;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/static/icon/comapny_back.jpeg');
  height:100vh;
  background-position: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transition: all 1s ease-in-out;
}
.introduction3{
  color: #e9ecef;
  background-size: contain;
  background-repeat: no-repeat;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/static/icon/platform_back.jpeg');
  height:100vh;
  background-position: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transition: all 1s ease-in-out;
}
.introHeader{
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2.25em;
}
.features{
  margin:15px 0 25px;
}

.introduction1:hover .detail{
  opacity: 1;
  transition:all 400ms ease-in-out;
}
.introduction2:hover .detail{
  opacity: 1;
  transition:all 400ms ease-in-out;
}
.introduction3:hover .detail{
  opacity: 1;
  transition:all 400ms ease-in-out;
}
.introduction1:hover{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/static/icon/investor_back.jpeg');
  
}
.introduction2:hover{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/static/icon/comapny_back.jpeg');

}
.introduction3:hover{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/static/icon/platform_back.jpeg');
 
}
.detail{
  opacity:0;
  text-align: left;
  width: 50%;
  margin-left: 25%;
  font-size: 18px;
}
.brief{
  text-align: left;
  width: 50%;
  margin-left: 25%;
}
.footer{
  margin-top: .5vh;
  width: 100%;
  height:30vh;
  background-color: #343a40;
  border:none;
  color: #adb5bd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.lineHeight{
  line-height: 2;
}
.footerDetail{
  margin-right: 5%;
  max-width: 20%;
}
.footerDetail:last-child{
  margin-right: none;
}
.footerHead{
  color: #f8f9fa;
}
.brandName{
  font-size:x-large;
  color: #f8f9fa;
}
.brandName:hover{
  text-decoration: none;
  color: #f8f9fa;
}
.enter_btn{
  width: 35%;
  height: 25%;
  border: 2px solid rgb(255, 218, 52);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: rgb(255, 218, 52);
  border-radius: 1em;
}
.join_us{
  font-size: 1.1em;
  margin-top: .4em;
  font-weight: 400;
}
.enter_btn:hover{
  background-color: rgb(255, 218, 52);
  color: white;
}
a{
  text-decoration: none;
  background-color: transparent;
}
a:hover{
  text-decoration: none;
}
@media(max-width:1024px){
  .panel{
    flex-direction: column;
  }
  .footer{
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footerDetail{
    max-width: 100%;
    text-align: center;
  }
  .footerDetail:nth-of-type(2n){
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footerDetail:nth-of-type(3){
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footerHead{
    max-width: 16px;
    margin-right: 100px ;
  }
  .introduction1,.introduction2,.introduction3{
    height: 50vh;
  }
  .detail{
    display: none;
  }
  .introduction1:hover .detail{
    display: block;
    transition:all 400ms ease-in-out;
  }
  .introduction2:hover .detail{
    display: block;
    transition:all 400ms ease-in-out;
  }
  .introduction3:hover .detail{
    display: block;
    transition:all 400ms ease-in-out;
  }
  .introduction1:hover, .introduction2:hover,  .introduction3:hover{
    height: 100vh;
  }
}

