body{
    background-color: rgb(245, 245, 245) ; 

}
.main_content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1rem;

}
.notify_table{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 900px;
    min-height:60vh;
   
}
.notify_content{
    box-shadow:0px 0px 9px rgb(155, 154, 154);
    background-color: white;
    padding:20px;
    border-radius: 10px;
    min-height: inherit;
    height:auto;
}
.notify_tr{
    height : 55px;
    border-left: 4px solid #015eb4;
    margin-bottom: 10px;
}
.inner_text{
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-left: 30px;
    background-color: #0075e24d;
    border-radius: 5px;
    transition: 200ms ease-out;
}
.notify_title{
    font-size: 1.1em;

}
.notify_time{
    font-size:0.6em;
    font-weight: 400;
}

.inner_text:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.read{
    background-color: rgba(136, 135, 135, 0.473);
}
.read:hover{
    cursor: default;
    transform: scale(1);
}
.read_gray{
    border-left: 4px solid rgb(136, 135, 135);
}
