<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Company Information</title> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    {% include 'nav_login.html' %} 
    <link rel="stylesheet" href="{%static 'css/company_index.css' %}">
</head>

<body>
    {% include 'company_index_left.html' %}
</body>
</html>