<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/footer.css' %}">
</head>
<footer class="footer">
    <div class="footerDetail">
        <a href=""><i class="fab fa-staylinked fa-2x" id='figure1'></i></a>
        <a href="" class="brandName">Supblock</a>
        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, quam iure vero ea, tempora voluptas ducimus rerum minima beatae et quia labore officiis provident corrupti!</p>
    </div>
    <div class="footerDetail">
        <h5 class="footerHead lineHeight">關於我們</h5>
        <ul class="no-bullets">
            <li class="lineHeight"><a href="#">Suplock</a></li>
            <li class="lineHeight">團隊介紹</li>
            <li class="lineHeight">聯繫我們</li>
        </ul>
    </div>

    <div class="footerDetail">
        <h5 class="footerHead lineHeight">客戶聲明</h5>
        <ul class="no-bullets">
            <li class="lineHeight">免責聲明</li>
            <li class="lineHeight">隱私條款</li>
            <li class="lineHeight">使用條款</li>
        </ul>
    </div>
    <div class="footerDetail">
        <h5 class="footerHead lineHeight">客戶服務</h5>
        <ul class="no-bullets">
            <li class="lineHeight">幫助中心</li>
            <li class="lineHeight">費率說明</li>
            <li class="lineHeight">問題回覆</li>
        </ul>
    </div>
</footer>

</html>