<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首頁</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    {% include 'nav_login.html' %} 
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
</head>
<body>
    <div class = "panel">
        <div class = "introduction1">   
            <div class="outer">
            <article class="brief">
            <h2 class="introHeader">投資供應鏈</h2>
            <a  href = "{% url 'invest_index' %}"class="enter_btn">
                <h2 class="join_us">立即加入</h2>
            </a>
            <p class="features">為供應鏈注入資金，最平易近人的投資方式</p>
            </article>
            <article class = "detail">
                <h5>自由投資</h5>
                <p>選擇熱門公司，或是依據不同的債權類型進行放貸，超過百家台灣公司任你選擇。</p>
                <h5>清楚透明</h5>
                <p>公司的債權金額，以及借款利率皆透過智能合約紀錄，投資的憑證也會記錄上鏈。</p>
                <h5>風險分級</h5>
                <p>將同一筆債權進行分券，您可依照自己的風險程度選擇合適的投資報酬率。</p>
            </article>
            </div>
        </div>

        <div class = "introduction2">
            <div class="outer">
            <article class="brief">
            <h2 class="introHeader">供應鏈融資</h2>
            <a href = "{% url 'login_company' %}" class="enter_btn">
                <h2 class="join_us">立即加入</h2>
            </a>
            <p class="features">透過Suplock抵押訂單，應收，存貨進行借款，為企業提供流動性。</p> 
            </article>
            <article class = "detail">
                <h5>一般企業</h5>
                <p>依據接收到的不同憑證，可以進行融資、移轉或拍賣，解決中小企業在傳統金融中的困境。</p>
                <h5>核心企業</h5>
                <p>將各類型訂單、應付帳款透過智能合約發出，在上下游企業借款同時能抽取佣金。</p>
                <h5>保證金交易</h5>
                <p>提供核心企業的合約憑證額度，一台幣能夠兑換到最高十倍的合約憑證額度。</p>
            </article>
            </div>
        </div>

        <div class = "introduction3" >
            <div class="outer">
            <article class="brief-1">
            <h2 class="introHeader">供應鏈結合區塊鏈</h2> 
            <a  href = "#"class="enter_btn hide" >
                <h2 class="join_us">立即加入</h2>
            </a>
            <p class="features-1">值得信任的供應鏈與投資人媒合平台。</p> 
            </article>
            <article class = "detail">
                <h5>Suplock</h5>
                <p>一個基於區塊鏈而打造的智能供應鏈媒合平台。</p>
                <h5>與傳統金融的不同</h5>
                <p>解決傳統供應鍊金融的信用問題、加速授信流程，讓中小型議價能力低的廠商獲得核心廠商抑或是社群投資人的閒置資金挹注</p>
                <h5>操作簡單</h5>
                <p>所有上鏈手續費不需使用乙太幣，Suplock會透過ERC-865代扣平台幣。</p>
            </article>
            </div>
        </div>
    </div>
    
</body>
{% include 'footer.html' %} 
</html>