<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    {% include 'nav_login.html' %} 
    <link rel="stylesheet" href="{%static 'css/invest_loan.css' %}">
</head>
<body>
    <main class="main_content">
        <form action="" method="POST">
        {% csrf_token %}

        <div class="invest_form">
            <div class="card_title">
                <h2 class="title_text wh">投資: DE-{{ id }}</h2>
                <input type="text" style="display: none" name="_loan_id" value="{{ token_id }}">
                <h2 class="title_text wh">轉入代幣</h2>
            </div>
            <h2 class="buy_label wh">申購金額:</h2>
            <div class="buy_input">
                <input type="text" name="_amount" id="amount" class="buy_amount" placeholder = "請輸入金額">
                <h3 class="wh">|</h3>
                <h6 class="wh buy_all" id = "click_all">全部</h6>
            </div>
            <div class="balance">
                <div class="circle"><img class='whSVG' src="{% static 'icon/wallet.svg' %}" width="24px" height="24px" alt=""></div>
                <div class="money_info">
                    <h2 class="tw4 wh fourW" id = "balance" value = "{{amount_865}}">{{amount_865}} TWD</h2>
                    <h2 class="wh forte fourW">平台幣餘額</h2>
                </div>
            </div>
            <div class="confirm_loan">
                <select name="_class" class="select-1" id="select-1">
                    <option value="" >選擇風險等級</option>
                    <option type="1" value="1">A: 年化利率{{ a_interest }}%</option>
                    <option type="2" value="2">B: 年化利率{{ b_interest }}%</option>
                    <option type="3" value="3">C: 年化利率{{ c_interest }}%</option>
                </select>
            </div>
            <div class="loan_detail">
                <h2 class="wh sixte mabt5" id="ref_income">參考收益: </h2>
                <h2 class="wh sixte mabt5" id="limit" value="">申購上限: </h2>
                <h2 class="wh sixte mabt5">生效日期: {{ start_date|date:'Y-m-d' }}</h2>
                <h2 class="wh sixte mabt5">截止日期: {{ end_date|date:'Y-m-d' }}</h2>
            </div>
            <button class="confirm_btn" disabled = "disabled" id = 'btn'>確認投資</button>
            <button class="confirm_btn" disabled = "disabled" id = 'btn-real' style="display: none;">確認投資</button>
        </div>
    </form>
    </main>
    
    
</body>
<script>
    function numberWithCommas(x) {
        x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return x;
    }       
    $('#amount').on('input',function(){
        if ($('#amount').val().length){
            $('#btn-real').prop('disabled', false);
            $('#btn-real').css('display', "block");
            $('#btn').css("display","none");
            set_ref();
            
        }else{
            $('#btn-real').prop('disabled', true);
            $('#btn-real').css('display', "none");
            $('#btn').css("display","block")
        }
    });
    $('#click_all').on('click', function(){
        $('#amount').val($('#limit').val());
        $('#btn').css("display","none");
        $('#btn-real').css('display', "block");
        $('#btn-real').prop('disabled', false);
        set_ref(); 
    });
    $('#select-1').change(function(){
        set_ref();
    });
    function set_ref() {
        const interest = ($('#select-1').val()) / 100;
        const amount = $('#amount').val();
        let reference = parseInt(amount * interest / 4);
        let ref_income = numberWithCommas(reference);
        let str_ref_income = "參考收益: " + ref_income;
        $('#ref_income').html(str_ref_income);
        return str_ref_income
    }

    var avail_arr = {{ avail_arr|safe }};
    console.log(avail_arr);
    $('#select-1').on('change', function(e){
        var optionSelected = $("option:selected", this).attr('type');
        switch (optionSelected) {
            case '1':
                $('#limit').val(avail_arr[0]);
                $('#limit').text('申購上限: '+ avail_arr[0]);
                break;
            case '2':
                $('#limit').val(avail_arr[1]);
                $('#limit').text('申購上限: ' + avail_arr[1]);
                break;
            case '3':
                $('#limit').val(avail_arr[2]);
                $('#limit').text('申購上限: ' + avail_arr[2]);
                break;
            default:
                alert('沒有符合的條件');
        }    });
        
  
</script>
</html>