<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load notifications_tags %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <link rel="stylesheet" href="{%static 'css/navbar.css' %}">
</head>
<body>
        
    <nav class="navbar navbar-expand-lg navbar-dark" id = 'navbar'>
        <i class="fab fa-staylinked fa-2x" id='figure1'></i>
        <!--icon-->
        <a class="navbar-brand" href="{% url 'company_index' %}">Suplock Chain</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
                 <li class="nav-item" id = 'i1'>
                    <a class="nav-link" href= "{% url 'company_orders' %}" >訂單</a>
                </li>
                <li class="nav-item" id = 'i2'>
                    <a class="nav-link" href="#">應收<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" id = 'i3'>
                    <a class="nav-link" href="#">驗證</a>
                </li>
                <li class="nav-item" id = 'i4'>
                    <a class="nav-link" href="#">投資</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">登出</a>
                </li>
            </ul>
                <div class="rightbar" >
                    <a class="" href = "{% url 'add_erc865' %}" ><img id = "plus"  src="{%static 'icon/plus-circle.svg' %}" ></a>
                    <label for = 'input_remain' class="ml-1 mr-1" id = "remain">餘額：</label>
                    <input id="input_remain" type="text" disabled>
                    {% notifications_unread as unread_count %}
                    {% if unread_count > 0 %}
                    <a href = "{% url 'my_notification' %}" class="icon-badge-container mx-3">
                        <i style = "color:white;" class="far fa-envelope-open icon-badge-icon"></i>
                        <div class="icon-badge">{% notifications_unread %}</div>
                    </a>
                    {% else %}
                    <a class=" mx-3 " href = "{% url 'my_notification' %}" ><img id="message"  src="{%static 'icon/envelope.svg' %}" ></a>
                    {% endif %}
                    <a class=" mx-3 " href = "{% url 'company_index' %}" ><img id="user" src="{%static 'icon/person-circle.svg' %}"></a>
                </div>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_company' %}">登入</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_company' %}">註冊</a>
                </li>
            </ul>
            {% endif %}
    </nav>

</body>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
        integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
        crossorigin="anonymous"></script>
        <script>
            var web3 = new Web3();
            var ercABI;
            var ercAddress;
            const decimals = 10**18;
            $.ajax({
                method:'GET',
                url: '/getAbiBytecode/',
                dataType: "json"
            }).done((res)=>{
                ercercByteCode = res['erc865_bytecode'];
                ercABI = res['erc865_abi'];
                ercAddress = res['erc865_contract_addr'];
            });
            $(document).ready(function(){
                
                window.addEventListener('load', async () => {
                // Modern dapp browsers...
                    if (window.ethereum) {
                        window.web3 = new Web3(ethereum);
                        try {
                            
                            loadContractDetail(ercAddress);
                        } catch (error) {
                            // User denied account access...
                        }
                    }
                    // Legacy dapp browsers...
                    else if (window.web3) {
                        window.web3 = new Web3(web3.currentProvider);
                        // Acccounts always exposed
                        web3.eth.sendTransaction({/* ... */ });
                    }
                    // Non-dapp browsers...
                    else {
                        console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                    }
                });

                async function loadContractDetail(ercAddress) {
                    const tokenInst = new web3.eth.Contract(ercABI, ercAddress);

                    // investor info
                    accounts = await ethereum.request({ method: 'eth_requestAccounts' });
                    i865balance = await tokenInst.methods.balanceOf(accounts[0]).call();
                    user865Balance = parseInt(i865balance / decimals,10);
                    $('#input_remain').val(user865Balance);
                    $('#input_remain').each(resizeInput);

                }
                function resizeInput() {
                    $(this).attr('size', $(this).val().length);
                 
                }
            })
            

    
        </script>
</html>