<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my wallet</title>
    {% include 'nav_login.html' %}
     <link rel="stylesheet" href="{%static 'css/wallet.css' %}">
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <main class="main_content" id = "fade_out">
        {% include 'company_index_left.html' %}
        <div class="wallet_content"> 
            <div class="wallet_segement">
                <section  class = "wallet_card">
                    <div class="iconNtitle">
                        <div class="circle orback"><img class='whSVG' src="{% static 'icon/cash.svg' %}" width="26px" height="26px" alt=""></div>
                        <h2 class="card_title ">平台幣餘額</h2>
                    </div>
                    <h2 class="card_def">與台幣一比一掛鉤，經由入金換取平台幣。</h2>
                    <div class="inner_card">
                        <h2 class="one4" >$</h2>
                        <h2  class="one4"id = "erc865"></h2>
                        <h2  class="one4"class="currency">TWD</h2>
                    </div>
                </section>
                <section class = "wallet_card">
                    <div class="iconNtitle">
                        <div class="circle blback"><img class='whSVG' src="{% static 'icon/file.svg' %}" width="26px" height="26px" alt=""></div>
                        <h2 class="card_title">可發出憑證餘額</h2>
                    </div>
                    <h2 class="card_def">經由平台幣兌換，可用於發出應付帳款或訂單。</h2>
                    <div class="inner_card">
                        <h2 class="one4">$</h2>
                        <h2 class="one4" id = "sendable"></h2>
                        <h2 class="one4" class="currency">TWD</h2>
                    </div>
                </section>
                <section class = "wallet_card">
                    <div class="iconNtitle">
                        <div class="circle rdback"><img class='whSVG' src="{% static 'icon/personal.svg' %}" width="26px" height="26px" alt=""></div>
                        <h2 class="card_title">可借款憑證餘額</h2>
                    </div>
                    <h2 class="card_def">經由接收訂單或應收帳款，可用於融資或移轉所有權。</h2>
                    <div class="inner_card">
                        <h2 class="one4">$</h2>
                        <h2  class="one4"id="receivable"></h2>
                        <h2  class="one4"class="currency">TWD</h2>
                    </div>
                </section>
            </div>  
            <div class="wallet_segement-1">
                <div class="ring_chart">
                    <div class="label">
                        <div class="inner_label">
                            <div class="square orange"></div>
                            <h4 class="label_text">平台幣餘額</h4>
                        </div>
                        <div class="inner_label ">
                            <div class="square dark_blue"></div>
                            <h4 class="label_text">可發出憑證餘額</h4>
                        </div>
                        <div class="inner_label">
                            <div class="square red"></div>
                            <h4 class="label_text">可借款憑證餘額</h4>
                        </div>
                        <div class="inner_label">
                            <div class="square green"></div>
                            <h4 class="label_text">核心廠商收益</h4>
                        </div>
                    </div>
                    <canvas id="myChart"></canvas>
                </div>
                <section class = "wallet_card_lower">
                    <div class="iconNtitle">
                        <div class="circle grback"><img class='whSVG' src="{% static 'icon/lightning-charge.svg' %}" width="24px" height="24px" alt=""></div>
                        <h2 class="card_title">核心廠商收益</h2>
                    </div>
                    <h2 class="card_def">當上下游廠商進行融資時，核心廠商可抽成貸款利息。</h2>
                    <div class="inner_card">
                        <h2 class="one4">$</h2>
                        <h2 class="one4"id="invest"></h2>
                        <h2 class="one4"class="currency">TWD</h2>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>
<script>


const intErc865 = {{ amount_865|safe }};  //Django resopnse
const intSendable = {{ amount_a|safe }}; 
const intReceivale ={{ sum_receive_order|safe }}; 
const intInvest = 10000;

const erc865 = $("#erc865").html(intErc865);
const sendable = $("#sendable").html(intSendable);
const receivale = $("#receivable").html(intReceivale);
const invest = $("#invest").html(intInvest);


let options = {
  tooltips: {
    enabled: false
  }
};
let ctx = document.getElementById('myChart');
const data = {
//   labels: [
//     'Red',
//     'Blue',
//     'Yellow'
//   ],
  datasets: [{
    label: 'My First Dataset',
    data: [intErc865, intSendable, intReceivale, intInvest],
    backgroundColor: [
      'rgb(255, 166, 0)',
      'rgb(0, 53, 102)',
      'rgb(238, 108, 77)',
      'rgb(82, 183, 136)'
    ],
    hoverOffset: 4
  }],
  options: options

};

let myChart = new Chart(ctx, {
  type: 'doughnut',
  data: data,
});
</script>

</html>


